:root{
    --main-font:'Roboto', sans-serif;
    --second-font:'Raleway', sans-serif; 
    --main-color: #212121;
    --color-title: #FFFFFF;
    --text-color: #757575;
    --color-hover: #2196F3;
    --background-header: #FFFFFF;
    --background-hero: #2F303A;
    --background-section: #E5E5E5;
    --background-content:#F5F4FA;
    --footer-color-logo: #FFFFFF;
}

body{
font-family: var(--main-font);
}

img{
    display: block;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid red;
}



/* ===================HEADER=========================*/
.header{
    margin-top: 24px;
    margin-bottom: 25px;
}

.header-container{
    display: flex;
    align-items: center;
}

.logo-header {
display: inline-block;
font-family: var(--second-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

margin-right: 93px;

color: #2196F3;
}

.header-list {
    display: flex;
}



.header-item {
font-family: var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

padding: 32px 0px;

color: var(--main-color);
}

.header-item:not(:last-child) {
    margin-right: 50px;

}

.header-link:hover,
.header-link:focus{
color: var(--color-hover);
}

.contakt-header-list{
    display: flex;
    margin-left: auto;
}

.header-contakt {
font-family: var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-color);
}

.header-contakt:hover,
 header-contakt:focus {
    color: var(--color-hover);
}

.contakt-header-item:not(:last-child) {
    margin-right: 50px;
}

/*===================HERO======================*/

.hero {
    background-color: var(--text-color);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.title-hero {
font-family: var(--main-font);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

margin-bottom: 30px;

color: var(--color-title);
}

.btn-hero {
font-family: var(--main-font);
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;

color: var(--color-title);
background-color: var(--color-hover);
border-radius: 4px;

padding: 10px 32px;

cursor: pointer;
}

/*========================peculiarities====================*/

.peculiaritie {
    padding-top: 94px;
    padding-bottom: 94px;
}

.peculiarities-list{
    display: flex;
}

.peculiarities-item{
    width: 270px;
}

.peculiarities-item:not(:last-child) {
    margin-right: 30px;
}

.peculiarities-pretitle {
font-family: var(--main-font);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
margin-bottom: 10px;
color: var(--main-color);
}

.peculiarities-text {
font-family: var(--main-font);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-bottom: 94px;
color: var(--text-color);
}

.work-title {
font-family: var(--main-font);
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--main-color);
}

/*==================Content=====================*/

.content {
    padding-top: 94px;
    padding-bottom: 94px;
}


.content-command {
font-family: var(--main-font);
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--main-color);
}

.name-specialists {
font-family: var(--main-font);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--main-color);
}

.profession-specialists {
font-family: var(--main-font);
font-weight: 400;
font-size: 16px;
line-height: 1.18px;
letter-spacing: 0.03em;
color: var(--text-color);
}

/*==================PORTFOLIO===================*/

.btn-portfolio {
font-family: var(--main-font);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-color);

cursor: pointer;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    color: #FFFFFF;
    background-color: var(--color-hover);
}

.pretitle-content {
font-family: var(--main-font);
font-weight: 700;
font-size: 18px;
line-height: 2.00;
letter-spacing: 0.06em;
color: var(--main-color);
}

.content-text{
font-family: var(--main-font);
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--text-color);
}

/*=================Footer=============*/

.footer{
    background-color: var(--text-color);
}

.logo-footer{
font-family: var(--second-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.maps-footer{
font-family: var(--main-font);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--color-title);
}

.mail-footer{
font-family: var(--main-font);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.tel-footer{
font-family: var(--main-font);
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}